<ion-nav-view class="slide-left-right-ios7" name="settingsBackground">

<body ng-controller="cardCtrl">


	<ion-view title="Background" align-title="center" left-buttons="leftButtons" >


	<ion-content has-header="true" has-subheader="false" has-tabs="false" scroll="true" >



	<div class="row" style="height:2vh">
		<div class="col-10"></div>
		<div class="col-20 learnColor">&nbsp;</div>
		<div class="col-20 lookColor">&nbsp;</div>
		<div class="col-20 askColor">&nbsp;</div>
		<div class="col-20 tryColor">&nbsp;</div>
		<div class="col-10"></div>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">

		<div class="col">

			<p><IMG SRC="img/ideo.svg" WIDTH="20%"></IMG> helps companies innovate. We create strategies for innovation and we design products, spaces, services, and experiences. Key to our success as a design and innovation firm are the insights we derive from understanding people and their experiences, behaviors, perceptions, and needs.</p>

				<p>IDEO Method Cards are intended as inspiration for practicing and aspiring designers, as well as those seeking a creative spark in their work. These cards show some of the ways IDEO keeps people at the center of the design process. Our techniques are not proprietary and have been adapted from various established human and social research methods.</p>

					<p>Initially, we compiled this collection to inspire our own design teams. In response to requests from clients, colleagues, students, and teachers, we’re sharing some of these methods and how we have found them useful in real design projects. These cards aren't meant to be a prescriptive nor exhaustive "how to" for human centered design. New methods are being developed, adapted and applied all the time. This deck is meant to encourage you to try new approaches for making design useful, useable and delightful to people.</p>


					</div>

				</div>



			</ion-content>

		</ion-view>

	</body>

</ion-nav-view>