<ion-nav-view class="slide-left-right-ios7" name="settingsUse">

<body ng-controller="cardCtrl">
	<ion-view title="How to Use" align-title="center" left-buttons="leftButtons" >
	<ion-content has-header="true" has-subheader="false" has-tabs="false" scroll="true" >

	<div class="row" style="height:2vh">
		<div class="col-10"></div>
		<div class="col-20 learnColor">&nbsp;</div>
		<div class="col-20 lookColor">&nbsp;</div>
		<div class="col-20 askColor">&nbsp;</div>
		<div class="col-20 tryColor">&nbsp;</div>
		<div class="col-10"></div>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">

		<div class="col">

			<h4> Using the <IMG SRC="img/ideo.svg" WIDTH="20%"></IMG>&nbsp;Method Cards</h4>
			<p>The cards are divided into four categories representing ways to empathize with people:</p>
			<p><span class="col1Text bold">Learn</span>, <span class="col2Text bold">Look</span>, <span class="col3Text bold">Ask</span>, and <span class="col4Text bold">Try</span>.</p>
			<p>These categories make it easy to reference, browse, sort, and share the cards.</p>
			<p>The Method Cards can help you to plan projects or just remind you or your team of various approaches.</p>
			<p>They can suggest ways to apply human centered methods throughout all stages of your projects.</p>
			<p>You can use them to prove a point and challenge your colleagues to seek insights in new ways.</p>
			<hr>
			<h4 class="col1Text">Learn</h4>
			Analyze the information you’ve collected to identify patterns and insights.
			<h4 class="col2Text">Look</h4>
			Observe people to discover what they do rather than what they say they do.
			<h4 class="col3Text">Ask</h4>
			Enlist people’s participation to elicit information relevant to your project.
			<h4 class="col4Text">Try</h4>
			Create simulations to help empathize with people and to evaluate proposed designs. 



		</div>

	</div>



</ion-content>

</ion-view>

</body>

</ion-nav-view>